@charset "UTF-8";

@font-face {
  font-family: 'brandico';
  src: url('brandico.eot');
  src: url('brandico.eot?#iefix') format('embedded-opentype'),
       url('brandico.woff') format('woff'),
       url('brandico.ttf') format('truetype'),
       url('brandico.svg#brandico') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: brandico;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-facebook:before { content: "\f300"; } /* '\f300' */
.icon-facebook-rect:before { content: "\f301"; } /* '\f301' */
.icon-twitter:before { content: "\f302"; } /* '\f302' */
.icon-twitter-bird:before { content: "\f303"; } /* '\f303' */
.icon-vimeo:before { content: "\f30f"; } /* '\f30f' */
.icon-vimeo-rect:before { content: "\f30e"; } /* '\f30e' */
.icon-tumblr:before { content: "\f311"; } /* '\f311' */
.icon-tumblr-rect:before { content: "\f310"; } /* '\f310' */
.icon-googleplus-rect:before { content: "\f309"; } /* '\f309' */
.icon-github-text:before { content: "\f307"; } /* '\f307' */
.icon-github:before { content: "\f308"; } /* '\f308' */
.icon-skype:before { content: "\f30b"; } /* '\f30b' */
.icon-icq:before { content: "\f304"; } /* '\f304' */
.icon-yandex:before { content: "\f305"; } /* '\f305' */
.icon-yandex-rect:before { content: "\f306"; } /* '\f306' */
.icon-vkontakte-rect:before { content: "\f30a"; } /* '\f30a' */
.icon-odnoklassniki:before { content: "\f30c"; } /* '\f30c' */
.icon-odnoklassniki-rect:before { content: "\f30d"; } /* '\f30d' */
.icon-friendfeed:before { content: "\f312"; } /* '\f312' */
.icon-friendfeed-rect:before { content: "\f313"; } /* '\f313' */
.icon-blogger:before { content: "\f314"; } /* '\f314' */
.icon-blogger-rect:before { content: "\f315"; } /* '\f315' */
.icon-deviantart:before { content: "\f316"; } /* '\f316' */
.icon-jabber:before { content: "\f317"; } /* '\f317' */
.icon-lastfm:before { content: "\f318"; } /* '\f318' */
.icon-lastfm-rect:before { content: "\f319"; } /* '\f319' */
.icon-linkedin:before { content: "\f31a"; } /* '\f31a' */
.icon-linkedin-rect:before { content: "\f31b"; } /* '\f31b' */
.icon-picasa:before { content: "\f31c"; } /* '\f31c' */
.icon-wordpress:before { content: "\f31d"; } /* '\f31d' */
.icon-instagram:before { content: "\f31e"; } /* '\f31e' */
.icon-instagram-filled:before { content: "\f31f"; } /* '\f31f' */

