@charset "UTF-8";

@font-face {
  font-family: 'brandico';
  src: url('brandico.eot');
  src: url('brandico.eot?#iefix') format('embedded-opentype'),
       url('brandico.woff') format('woff'),
       url('brandico.ttf') format('truetype'),
       url('brandico.svg#brandico') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: brandico;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-facebook:before { content: ""; } /* '\f300' */
.icon-facebook-rect:before { content: ""; } /* '\f301' */
.icon-twitter:before { content: ""; } /* '\f302' */
.icon-twitter-bird:before { content: ""; } /* '\f303' */
.icon-vimeo:before { content: ""; } /* '\f30f' */
.icon-vimeo-rect:before { content: ""; } /* '\f30e' */
.icon-tumblr:before { content: ""; } /* '\f311' */
.icon-tumblr-rect:before { content: ""; } /* '\f310' */
.icon-googleplus-rect:before { content: ""; } /* '\f309' */
.icon-github-text:before { content: ""; } /* '\f307' */
.icon-github:before { content: ""; } /* '\f308' */
.icon-skype:before { content: ""; } /* '\f30b' */
.icon-icq:before { content: ""; } /* '\f304' */
.icon-yandex:before { content: ""; } /* '\f305' */
.icon-yandex-rect:before { content: ""; } /* '\f306' */
.icon-vkontakte-rect:before { content: ""; } /* '\f30a' */
.icon-odnoklassniki:before { content: ""; } /* '\f30c' */
.icon-odnoklassniki-rect:before { content: ""; } /* '\f30d' */

